.form-container {
    width: 400px;
    margin: auto;
    padding: 50px;
    border: 7px solid green;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
    margin-top: 20px;
}

.form {
    text-align: center;
    color: black;
    font-family: Arial, sans-serif;
}

input {
    width: 90%;
    padding: 10px;
    margin: 12px 12px;
    border: 1px solid grey;
    border-radius: 5px;
}

.form button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 115px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.social-login button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
    margin: 12px auto;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
}

.social-login button img {
    width: 20px;
    height: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;
    cursor: pointer;
}

.tab {
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.tab.active {
    color: green;
}

.form-content {
    display: none;
}

.form-content.active {
    display: block;
}
#login-form {
    display: block;
    color: green;
}
#register-form {
    display: none;
    color: green;
}
/* header styles */

header{
    font-size: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    width: 100;
}
.header_logo  {
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    padding-left: 10%
}
.logout_img {
    height: auto;
    display: inline-block;
    inline-size: 20px;
    vertical-align: center;
    margin: 0px 2px;
}

.shop_nav {
    margin: 25px;
   width: calc(100% - 250px); 
   font-size: 16px;
   display: inline-block;
   display: flex;
   gap: 20px;
}

.home_page,
.shop_page,
.plant_page,
.blogs_page {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.login_page {
    width: 100px;
    font-size: 16px;
    display: inline-block;   
    text-decoration: none;
    vertical-align: middle;
    padding:8px;
    background-color: green;
    border-radius: 10px;
    color: white;
    margin-right: 5%;
    
}

.login_page:hover {
    background-color: darkgreen;
}
.shop_nav li {
    display: inline-block;
}

/*intro styles*/

.intro {
font-size: 0;
}
.intro_text {
    text-align: left;
    font-size: 40px;
    color: black;
    margin-top: 20px;
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    padding-right: 10%;
    padding-left: 10%;
}
.intro_img {
    height: 400px;
    object-fit: cover;
    margin-top: 5px;
    width: 50%;
    display:inline-block;
    height: auto;
    vertical-align: middle;
    padding-bottom: 5%;
}

.big_plant {
    width: 500px;
}

.small_plant {
    position: relative;
    left: 155px;
    bottom: 5px;
    width: 135px;
    height: auto;
    display: inline-block;
    object-fit: cover;
    margin: 10px auto;
    pointer-events: none;
}

.Planet {
    color: green;
    line-height: 1.5;
}
.welcome {
    font-size: 16px;
    color: black;
    text-align: left;
    margin-top: 20px;
}
.intr_txt {
    font-size: 16px;
    line-height: 1.5;
}

.shop_button {
    display: inline-block;
    background-color: green;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    line-height: 1.5;
}

.shop_button:hover {
    background-color: darkgreen;
}