.form-container {
    width: 400px;
    margin: auto;
    padding: 50px;
    border: 7px solid green;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
    margin-top: 20px;
}

.form {
    text-align: center;
    color: black;
    font-family: Arial, sans-serif;
}

input {
    width: 90%;
    padding: 10px;
    margin: 12px 12px;
    border: 1px solid grey;
    border-radius: 5px;
}

.form button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 115px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.social-login button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
    margin: 12px auto;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
}

.social-login button img {
    width: 20px;
    height: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;
    cursor: pointer;
}

.tab {
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.tab.active {
    color: green;
}

.form-content {
    display: none;
}

.form-content.active {
    display: block;
}
#login-form {
    display: block;
    color: green;
}
#register-form {
    display: none;
    color: green;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    font-size: 0px;
    border-bottom: 1px solid rgba(70, 163, 88, 50%);
    padding-top: 30px;
    padding-bottom: 17px;
    margin-bottom: 12px;

}

.logo,
.header_nav,
.btn {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}

.logo {
    width: 150px;
}

.btn {
    min-width: 100px;
    background-color: #46A358;
    color: #FFFFFF;
    border: 1px solid #46A358;
    border-radius: 6px;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background: darkgreen;
    border-color: #3D8B4A;
}

.btn:hover img {
    display: none;
}

.btn img,
.btn span {
    display: inline-block;
    vertical-align: middle;
}

.header_nav {
    width: calc(100% - 250px);
}

.header_nav_list {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;

}

.header_nav_list li {
    display: inline-block;
    margin: 0 20px;
}

.header_nav_list li a {
    text-decoration: none;
    color: #3D3D3D;
}

/*banner styles*/
.banner {
    padding: 30px;
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);

}

.banner_text,
.banner_img {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
}

.banner_img {
    text-align: center;
    width: 38%;
}

.title_add {
    font-size: 16px;
    color: #3D3D3D;
    margin-bottom: 20px;
    text-transform: uppercase;

}

.banner h1 {
    text-transform: uppercase;
    font-size: 70px;
    margin: 0px;
}

.banner p {
    text-transform: uppercase;
    font-size: 14px;
}

.banner .btn {
    text-transform: uppercase;
    padding: 10px 10px;
}

.Planet {
    color: #3D8B4A
}